<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>
	<%- include('navbar.ejs') %>

	<div class="container pt-70 pb-50">


		<% if (!user) { %>
		<%- include('403.ejs') %>
		<!-- NO OLVIDARSE DE CAMBIAR A ESTUDIANTE -->
		<% } else if (user.rol == "Estudiante") { %>

		<h1 class = 'align-center'>Ejercicios para practicar</h1>
		<div class = 'col-md-offset-1 col-md-10'>

			<div class="alert alert-info mt-40" role="alert"> Recuerda que al hacer los ejercicios, debes usar los métodos stdin y stdout para leer o responder a la consola de Python</div>		
			<hr>
			<h4 >Seleccione el nivel de dificultad</h4>

			<div name="myForm" role="form" class="form-inline">
				<div class="form-group">
					<label>Dificultad
						<select class="form-control" id="selectNivelEjercicioEs" name="nivelEjerEstu">
							<option value="Fácil">Fácil</option>
							<option value="Medio">Medio</option>
							<option value="Difícil">Difícil</option>
						</select>
					</label>
				</div>
				<a type="submit" class="btn common-btn seleccionar-ejercicio">Escoger ejercicio aleatorio</a>
			</div>

			<div id="exitoejercicio">
			</div>

			<div class = 'row'>
				<div class = 'col-md-12'>
					<h3 id="tituloEjer"></h3>
					<h4>Descripción</h4>
					<p id="desEjer" class = 'pt-10'></p>
				</div>	
			</div>
			<div class = 'row'>
				<div class = 'col-md-6'>
					<h4>Formato de Entrada</h4>
					<p id="formEntrada" class = 'pt-10'></p>
				</div>
				<div class = 'col-md-6'>
					<h4>Formato de Salida</h4>
					<p id="formSalida" class = 'pt-10'></p>
				</div>
			</div>
			<hr>

			<div class = 'row'>
				<div class = 'col-md-12'>


					<div name="myForm" role="form" class="form-inline">
						<div class="form-group">
							<label class="control-label">Sube tu archivo de Python para probar el código

							</label>
							<input id="input-4" name="input4[]" type="file" multiple class="file-loading ">
						</div>
						<a type="submit" class="btn common-btn seleccionar-ejercicio">Enviar código</a>
					</div>
				</div>

			</div>


		</div>

		<% } else { %>
		<%- include('403.ejs') %>
		<% } %>

	</div>


	<%- include('footer.ejs') %>

	<script type="text/javascript" charset="utf-8">
function shuffle(o){ //v1.0
	for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
		return o;
};

$(document).ready(function() {

	$(".seleccionar-ejercicio").click(function(){

		var nivel = $("#selectNivelEjercicioEs").val();
		var url = "/student/practice/" + nivel;

		$.get(url, function(ejercicios){
			var parsed = ejercicios;
			var keyArray = []

			for(var x in ejercicios){
				keyArray.push(parsed[x])
			}

			keyArray = shuffle(keyArray);

			$("#tituloEjer").text(keyArray[0].titulo);
			$("#desEjer").text(keyArray[0].descripcion);
			$("#formEntrada").text(keyArray[0].formEntrada);
			$("#formSalida").text(keyArray[0].formSalida);


		})
	});

});


</script>


</body>
</html>
